@font-face {
  font-family: "sanjuGotgam";
  src: url("/font/SANGJU Gotgam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmMedium";
  src: url("/font/IBMPlexSansKR-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmLight";
  src: url("/font/IBMPlexSansKR-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmRegular";
  src: url("/font/IBMPlexSansKR-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "twayAir";
  src: url("/font/tway_air.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
