.menu_height {
  height: 70px;
}

.menu_width {
  width: 100vw;
  min-width: 400px;
}

.img_width {
  width: 20vw;
  min-width: 260px;
}

.textmenu_width {
  width: 60vw;
  min-width: 200px;
}

.setting_width {
  width: 10vw;
  min-width: 260px;
}

.icon_right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
