/* --------------------------------------------------- */
/*  signUp.tsx                                         */
/* --------------------------------------------------- */
.self_auth {
  position: absolute;
  top: 315px;
  left: calc(50% + 150px);
}

.verify {
  display: none;
}
